<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183801171326-8104e94nmvuvegj28pe9dur5luip3tm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183801171326-8104e94nmvuvegj28pe9dur5luip3tm5</string>
	<key>API_KEY</key>
	<string>AIzaSyA_j2FkHtltZQHWIIUVPysxJUcc2bVs_Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>183801171326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anikamorris.Dia-bestie</string>
	<key>PROJECT_ID</key>
	<string>dia-bestie</string>
	<key>STORAGE_BUCKET</key>
	<string>dia-bestie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:183801171326:ios:d85a4b35d7bc3f37</string>
	<key>DATABASE_URL</key>
	<string>https://dia-bestie.firebaseio.com</string>
</dict>
</plist>